<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Auth{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="w-full max-w-md">

    <!-- CARD -->
    <div class="bg-white p-8 rounded-2xl shadow-lg">

        <div class="text-center mb-6">
            <h1 class="text-2xl font-bold text-red-600">🍕 PizzaHub</h1>
            <p class="text-gray-500 text-sm">Welcome back</p>
        </div>

        {% block content %}{% endblock %}

    </div>

</div>

</body>
</html>

